---
import { getImage } from 'astro:assets';
import FavIcon from '@assets/favicon.ico';
import SiteMetadata from '@data/metadata.json';

interface Props {
    title: string
    description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const favIcon = await getImage({
    src: FavIcon,
    width: 48,
    height: 48,
    format: 'ico'
});
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href={favIcon.src} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; frame-src youtube.com www.youtube.com youtube-noocookie.com www.youtube-nocookie.com" /> -->
<meta name="title" property="og:title" content={`${title} | ${SiteMetadata.title}`} />
<meta name="description" property="og:description" content={description} />
<meta name="author" content={SiteMetadata.author.name} />
<meta name="generator" content={Astro.generator} />
<meta name="fediverse:creator" content={SiteMetadata.socials.activitypub.username} />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content={SiteMetadata.socials.x.username} />
<meta name="twitter:title" content={`${title} | ${SiteMetadata.title}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" property="og:image" content={`https://v1.screenshot.11ty.dev/${canonicalURL}opengraph/9:16/`} />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={`${title} | ${SiteMetadata.title}`} />
<meta property="og:updated_time" content={new Date().toISOString()} />
<title>{`${title} | ${SiteMetadata.title}`}</title>
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title={SiteMetadata.title} href={new URL("feed.xml", Astro.site)} />