---
import { getImage } from 'astro:assets';
import { siteAuthor, siteTitle, socials } from '@utils/globals.ts';
import FavIcon from '@assets/favicon.ico';

interface Props {
    title: string
    description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const favIcon = await getImage({
    src: FavIcon,
    width: 48,
    height: 48,
    format: 'ico'
});
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href={favIcon.src} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="color-scheme" content="light dark" />
<meta name="title" property="og:title" content={`${title} | ${siteTitle}`} />
<meta name="description" property="og:description" content={description} />
<meta name="author" content={siteAuthor.name} />
<meta name="generator" content={Astro.generator} />
<meta name="fediverse:creator" content={socials.activitypub.username} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content={socials.x.username} />
<meta name="twitter:title" content={`${title} | ${siteTitle}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" property="og:image" content={new URL("opengraph.png", canonicalURL)}  />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={`${title} | ${siteTitle}`} />
<meta property="og:updated_time" content={new Date().toISOString()} />
<title>{`${title} | ${siteTitle}`}</title>
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href={new URL("sitemap-index.xml", Astro.site)} />
<link rel="alternate" type="application/rss+xml" title={siteTitle} href={new URL("feed.xml", Astro.site)} />