---
import { type InferEntrySchema } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Rating from '@components/ui/rating.astro';

interface Props {
    entryData: InferEntrySchema<'articles'> | InferEntrySchema<'roundups'> | InferEntrySchema<'reviews'>
}

const { entryData } = Astro.props;
const date = formatDate(entryData.date);
---
<details>
    <summary>Metadata</summary>
    <ul>
        {entryData.description && <li>Description: {entryData.description}</li>}
        {entryData.rating && <li>Rating: <Rating rating={entryData.rating} /></li>}
        <li>Published: <time datetime="">{date}</time></li>
        <li>Last Modified: <time datetime="">{entryData.modified ? formatDate(entryData.modified) : date}</time></li>
        {entryData.tags && <li>Tags: {entryData.tags.join(', ')}</li>}
        {entryData.posse && <li>POSSE: {Object.entries(entryData.posse).map((site) => (
            <Fragment>
                <a href={site[1]}>{site[0]}</a>&nbsp;
            </Fragment>
        ))}</li>}
    </ul>
</details>

<style>
    details {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        &::details-content {
            opacity: 0;
        }
        &[open]::details-content {
            opacity: 1;
            transition: all 0.4s linear;
        }
    }
    summary:hover {
        cursor: pointer;
    }
</style>