---
import { type CollectionEntry } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Rating from '@components/ui/rating.astro';

interface Props {
    entry: CollectionEntry<'articles'> | CollectionEntry<'links'> | CollectionEntry<'reviews'>
}

const { entry } = Astro.props;
const date = formatDate(entry.data.date);
---
<details>
    <summary>Metadata</summary>
    <ul>
        {entry.data.description && <li>Description: {entry.data.description}</li>}
        {entry.data.rating && <li>Rating: <Rating rating={entry.data.rating} /></li>}
        <li>Published: <time datetime="">{date}</time></li>
        <li>Last Modified: <time datetime="">{entry.data.modified ? formatDate(entry.data.modified) : date}</time></li>
        <li>Tags: {entry.data.tags.join(', ')}</li>
        {entry.data.posse && <li>POSSE: {Object.entries(entry.data.posse).map((site) => (
            <Fragment>
                <a href={site[1]}>{site[0]}</a>&nbsp;
            </Fragment>
        ))}</li>}
    </ul>
</details>

<style>
    details {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        &::details-content {
            opacity: 0;
        }
        &[open]::details-content {
            opacity: 1;
            transition: all 0.4s linear;
        }
    }
    summary:hover {
        cursor: pointer;
    }
</style>