---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Article from '@layouts/article.astro';
import Metadata from '@components/metadata.astro';

interface Props {
    roundup: CollectionEntry<'roundups'>
}

export async function getStaticPaths() {
    const roundups = await getCollection('roundups');
    return roundups.map(roundup => ({
        params: { id: roundup.id },
        props: { roundup },
    }));
}

const { roundup } = Astro.props;
const { Content } = await render(roundup);
---
<Article
     title={roundup.data.title}
     description={roundup.data.description}
     publishedTime={roundup.data.date.toISOString()}
     modifiedTime={roundup.data.modified ? roundup.data.modified.toISOString() : roundup.data.date.toISOString()}
     tags={roundup.data.tags}
>
    <a href={roundup.data.href}><h2>{roundup.data.title}</h2></a>
    <Metadata entryData={roundup.data} />
    <Content />
</Article>