---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Article from '@layouts/article.astro';
import Metadata from '@components/metadata.astro';

interface Props {
    link: CollectionEntry<'links'>
}

export async function getStaticPaths() {
    const links = await getCollection('links');
    return links.map(link => ({
        params: { date: formatDate(link.data.date), id: link.id },
        props: { link },
    }));
}

const { link } = Astro.props;
const date = formatDate(link.data.date);
const { Content } = await render(link);
---
<Article
     title={link.data.title}
     description={link.data.description}
     publishedTime={link.data.date.toISOString()}
     modifiedTime={link.data.modified ? link.data.modified.toISOString() : link.data.date.toISOString()}
     tags={link.data.tags}
>
    <a href={link.data.href}><h2>{link.data.title}</h2></a>
    <Metadata entry={link} />
    <Content />
</Article>