---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Article from '@layouts/article.astro';
import Metadata from '@components/metadata.astro';

interface Props {
    podcast: CollectionEntry<'podcasts'>
}

export async function getStaticPaths() {
    const podcasts = await getCollection('podcasts');
    return podcasts.map(podcast => ({
        params: { id: podcast.id },
        props: { podcast },
    }));
}

const { podcast } = Astro.props;
const { Content } = await render(podcast);
---
<Article
     title={podcast.data.title}
     description={podcast.data.description}
     publishedTime={podcast.data.date.toISOString()}
     modifiedTime={podcast.data.modified?.toISOString() ?? podcast.data.date.toISOString()}
     tags={podcast.data.tags}
>
    <h2>{podcast.data.title}</h2>
    <Metadata entryData={podcast.data} />
    <Content />
</Article>