---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import formatDate from '@utils/formatDate.ts';
import Article from '@layouts/article.astro';
import Metadata from '@components/metadata.astro';

interface Props {
    article: CollectionEntry<'articles'>
}

export async function getStaticPaths() {
    const articles = await getCollection('articles');
    return articles.map(article => ({
        params: { date: formatDate(article.data.date), id: article.id },
        props: { article },
    }));
};

const { article } = Astro.props;
const { Content } = await render(article);
---
<Article
     title={article.data.title}
     description={article.data.description}
     publishedTime={article.data.date.toISOString()}
     modifiedTime={article.data.modified ? article.data.modified.toISOString() : article.data.date.toISOString()}
     tags={article.data.tags}
>
    <h2>{article.data.title}</h2>
    <Metadata entryData={article.data} />
    <Content />
</Article>